<header>
  <div id="logo">RESUME BUILDER</div>
  <div id="menu">
    <ul>
      <li><a>Create Resume</a></li>
      <li><a>My Resumes</a></li>
      <li><a>Profile</a></li>
    </ul>
  </div>
</header>

<section class='container'>
  <section id="template-grid">
    <div class='template-group'>
      <div class='template'>
        <img src="assets/templates/template1.png" alt="image" />
        <h2><input type="radio" [(ngModel)]="selectedTemplate" value="1" name="selectedTemplate"/> Template - 1</h2>
      </div>
    </div>
    <div class='template-group'>
      <div class='template'>
        <img src="assets/templates/template2.png" alt="image" />
        <h2><input type="radio" [(ngModel)]="selectedTemplate" value="2" name="selectedTemplate"/>Template - 2</h2>
      </div>
    </div>
    <div class='template-group'>
      <div class='template'>
        <img src="assets/templates/template3.png" alt="image" />
        <h2><input type="radio" [(ngModel)]="selectedTemplate" value="3" name="selectedTemplate"/>Template - 3</h2>
      </div>
    </div>
    <div class='template-group'>
      <div class='template'>
        <img src="assets/templates/template1.png" alt="image" />
        <h2><input type="radio" [(ngModel)]="selectedTemplate" value="4" name="selectedTemplate"/>Template - 4</h2>
      </div>
    </div>
    <div class='template-group'>
      <div class='template'>
        <img src="assets/templates/template3.png" alt="image" />
        <h2><input type="radio" [(ngModel)]="selectedTemplate" value="5" name="selectedTemplate"/>Template - 5</h2>
      </div>
    </div>
  </section>


  <section class='create-button'>
    <button class='button' (click)='createResume()'>Create Resume</button>
  </section>

</section>
