.container{
  margin:6%;
  padding:2%;
  width:80%;
}


.container > #template-grid{
  width: 100%;
}

.container > #template-grid > .template{
  width:16%;
  height: 180px;
  padding:2%;
  margin:2%;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
}
