
<header>
  <div id="logo">RESUME BUILDER</div>
  <div id="menu">
    <ul>
      <li><a>Create Resume</a></li>
      <li><a>My Resumes</a></li>
      <li><a>Profile</a></li>
    </ul>
  </div>
</header>

<section class='container'>
  <section id="template-grid">
    <div class='template'>
      <img src="" alt="image"/>
      <h2>Template - 1</h2>
    </div>
    <div class='template'>
      <img src="" alt="image"/>
      <h2>Template - 2</h2>
    </div>
    <div class='template'>
      <img src="" alt="image"/>
      <h2>Template - 3</h2>
    </div>
    <div class='template'>
      <img src="" alt="image"/>
      <h2>Template - 4</h2>
    </div>
    <div class='template'>
      <img src="" alt="image"/>
      <h2>Template - 5</h2>
    </div>
  </section>
</section>
